.acf_vimeo_upload {
	display: none;
}
.acf_vimeo_delete_show,
.acf_vimeo_upload_show {
	display: block;
}

.acf_vimeo_upload {
	width: 300px;
}
.acf_vimeo_video {
	margin: 1em 0;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0;
	overflow: hidden;
	width: 100%;
}

.vimeo_uploader_button_hide {
	display: none !important;
}

.acf_vimeo_video iframe,
.acf_vimeo_video object,
.acf_vimeo_video embed {
	position: absolute; top: 0; left: 0;
	width: 100% !important; height: 100% !important;
}

.acf_vimeo_filelist {
    width: 60%;
}
.acf_vimeo_filelist .file {
    padding: 5px;
    background: #ececec;
    border: solid 1px #ccc;
    margin-bottom: 4px;
}
.acf_vimeo_filelist .fileprogress {
    width: 0%;
    background: #B7C53D;
    height: 5px;
}